.vs/
.idea/

MentorAcademic.sln.DotSettings.user

/**/bin/
/**/obj/
/**/config/

WindowsFormsMentorAcademic/WindowsFormsMentorAcademic.csproj.user
WindowsFormsMentorAcademic/windowsformsmentoracademic.csproj

SQLqueries/SQLqueries.csproj.user
SQLqueries/sqlqueries.csproj
